@import "../../../src/scss/variables.scss";
@import "../../../src/scss/breakpoints.scss";

#hero {
  background: url("../../../src/img/hero.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 550px;
  margin-top: -100px;
  @include bp-tablet-sm {
    padding-top: 150px;
  }
  #box {
    background: rgba($black, 0.7);
    padding: 40px;
    @include bp-tablet-sm {
      padding: 20px 0px 20px 0px;
    }
    h1,
    h2 {
      color: $white;
      @include bp-tablet-sm {
        text-align: left;
      }
    }
    h1 {
      font-size: 16px;
    }
    h2 {
      font-size: 50px;
      @include bp-tablet-sm {
        font-size: 28px;
        margin-bottom: 0px !important;
      }
    }
  }
}
