// Image Gallery
@import "../scss/breakpoints.scss";
@import "../scss/variables.scss";

.gallery {
  img {
    margin-bottom: 30px;
    width: 100%;
    border: 2px solid $gold;
  }
  .btm {
    margin-top: 30px;
  }
}
